<!-- HOMEPAGE / DEFAULT VIEW -->

<div class="col-md-12">

    <!-- Course logo -->
    <div class="col-md-4">
        <img class="img-responsive center-block" src="images/logo.png" alt="Course Logo" style = "height:200px; width: auto;">
    </div>

    <!-- Assignment info -->
    <div class="col-md-8">
        <h2>Stock Market Application</h2>
        <br>
        <table width="300" class="borderless">
            <tr>
                <td><h5>Name:</h5></td>
                <td><h5>Andrea Zagar</h5></td>
            </tr>
            <tr>
                <td><h5>Date Submitted:</h5></td>
                <td><h5>March 10, 2015</h5></td>
            </tr>
        </table>
    </div>

</div>
<br>

<!-- Where other templates are rendered -->
<div>
    {{outlet}}
</div>
