<div class = "row">
    <h3> Market by Order</h3>
    <div class = "col-md-6">
        <table class = "table table-hover table-bordered">
            <thead>
            <tr>
                <th>Buy Volume</th>
                <th>Buy Price</th>
            </tr>
            </thead>

            <tbody>
            {{#each order in sortedBuyOrders}}
                <tr>
                    <td>{{order.size}}</td>
                    <td>{{order.price}}</td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
    <div class = "col-md-6">
        <table class = "table table-hover table-bordered">
            <thead>
            <tr>
                <th>Sell Price</th>
                <th>Sell Volume</th>
            </tr>
            </thead>
            <tbody>
            {{#each order in sortedSellOrders}}
                <tr>
                    <td>{{order.price}}</td>
                    <td>{{order.size}}</td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</div>
</div>
