<div class = "row">
    <div class = "col-md-4">
        {{partial 'marketByOrder'}}
    </div>
    <div class = "col-md-4">
        {{partial 'marketByPrice'}}
    </div>
    <div class = "col-md-4">
        {{partial 'logo'}}
    </div>
</div>








