
    <div class = "col-md-5">
        {{partial 'marketByOrder'}}
    </div>
    <div class = "col-md-5">
        {{partial 'marketByPrice'}}
    </div>
    <div class = "col-md-2">
        {{partial 'logo'}}
    </div>









