<!-- This is the form for making a sell order -->
<h2>Place Sell Order for <text style="color:#cc8a21">{{model.name}}</text></h2>
<form>
    <div>
        <div class="col-md-12">
            <label>Number of Shares <br>
                {{input value=volume  id="volume" type="text" }}
            </label>
        </div>
    </div>
    <br>
    <div>
        <div class="col-md-12">
            <label>Purchase Price <br>
                {{input value=price  id="price" type="text" }}
            </label>
        </div>
    </div>
</form>

<!-- Calls the 'save' action in the placeSaleOrder controller -->
<button class="btn btn-default" {{action 'save' model.id}}>Submit</button>
