<div class="container">
    <h2>Place Buy Order for {{model.name}} </h2>
    <form role="form">
        <div class="form-group">
            <label for="volume">Number of Shares</label>
            <input class="form-control" id="volume" placeholder="Enter number">
        </div>
        <div class="form-group">
            <label for="price">Purchase Price</label>
            <input class="form-control" id="price" placeholder="Enter price">
        </div>
        <br>
        <button type="submit" class="btn btn-default" {{action 'save' model.id}}>Submit</button>
    </form>
</div>
